.landing-container {
  margin: 20px;

  .headline {
    text-wrap: pretty;

    .temperature-logo {
      height: 50px;
      width: auto;
    }
  }

  .created-by {
    margin-top: 10px;
    font-weight: normal;
  }

  .description {
    margin-top: 20px;
  }

  .text {
    width: min(700px, calc(100vw - 40px));
    border: 2px solid grey;
    margin: 10px auto auto;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    align-items: start;

    h4 {
      margin-top: 10px;
    }

    ul {
      list-style-position: inside;
    }
  }
}